body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image {
  width: 500px;
  height: 700px;

}

.info {
  display: flex;
  align-items: center;
  margin:30px 20px 0 20px;
  flex-wrap: wrap;
}

.button {
  width: 150px;
  height: 40px;
  background-color: #fff;
  border-style: 1px solid black;

}
.clubs {
  width:150px;
  height: 50px;
  margin-right: 3%;
  margin-bottom: 2%;
}

.back {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 15%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 70%;
  padding: 2rem 0 2rem 0;
}

.title {
  margin-bottom: 5%;
}

label {
  display: block;
  margin-bottom: 5%;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  background-color: #333333;
  color: white;
  border: none;
  width: 30%;
  padding: 1% 0 1% 0;
  border-radius: 5px;
  margin-bottom: 5%;
}

.but {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.new {
  background: transparent;
  border: none;
}

.Navbar {
  height: 100px;
}
.NavbarImg {
  width: 156px;
  height: 84px;
}
.navbarName {
  font-size: 28px;
}

.header {
  background-color: #04b853;
  height: 170px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.header h1 {
  font-size: 40px;
}

.header h6 {
  font-size: 25px;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

.ant-picker-calendar-date-value {
  text-align: right;
}
.ant-badge-status-text {
  font-size: 2em;
}